html {
  box-sizing: border-box;
  color: #222;
  font-family: "Crimson Text", serif;
  font-weight: normal;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

article {
  padding: 0 1rem;
}

article header {
  border-bottom: 1px solid #999;
  margin: 0 0 1.3rem;
  padding: 1.3rem 0;
}

article h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

article header p {
  font-style: italic;
  margin: 0;
}

article p {
  margin: 0 0 1.3rem;
}

blockquote {
  color: #555;
  font-size: 1.125rem;
}

.quote {
  color: #999;
}

blockquote .quote:first-child {
  margin-left: -.3em;
}

article ol {
  margin: 0 0 1.3rem;
  padding-left: 1em;
}

article > p:last-child {
  border-bottom: 1px solid #999;
  padding-bottom: 1.3rem;
}
