html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  line-height: 1.3rem;
  font-family: "Crimson Text", serif;
  margin: 0;
}

article {
  margin: 0;
  padding: 1rem;
}

article p {
  padding: 0 0 1rem;
}

article header {
  padding: 1.3rem 0;
}

article header h1 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0;
}

article header p {
  margin: 0;
  padding: 0 0 1.3rem;
  font-style: italic;
  border-bottom: 1px solid #999;
}

article>p {
  margin: 0;
  padding: 0 0 1.3rem;
}

blockquote {
  font-size: 1.125rem;
  color: #555;
}

article ol {
  margin:0;
  padding: 1.3rem;
}

article>p:last-child {
  border-bottom: 1px solid #999;
}
